﻿@model PlattSampleApp.Models.PeopleSearchViewModel


<!DOCTYPE html>

<html>
<head>
    <title>Faceted People Search</title>
</head>
<body>
    <h3>Faceted People Search</h3>
    <form action="@Url.Action("PeopleSearch")" method="post">
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        @foreach (var filter in Model.Filters)
                        {
                            <td>@filter.AttributeName</td>
                        }
                        </tr>
                    <tr>
                        <td class="search-apply">
                            <input type="submit" value="Apply Filters" class="btn btn-primary" />
                        </td>
                        @foreach (var filter in Model.Filters)
                        {
                            <td class="search-filter">
                                <ul class="list-group">
                                    @foreach (var item in filter.Items)
                                    {
                                        <li class="list-group-item">
                                            <input type="checkbox" name="@filter.AttributeKey" value="@item.AttributeValue" @(item.Checked ? "checked" : "") />
                                            <span>@item.AttributeValue</span>
                                        </li>
                                    }
                                </ul>
                            </td>
                        }
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var person in Model.SearchResults)
                    {
                    <tr>
                        <td>@person.Name</td>
                        @foreach (var filter in Model.Filters)
                        {
                            <td>@person.Attributes[filter.AttributeKey]</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>