﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row-spacer {
    margin-top: 10px;
}

/* Basic styling for the faceted search filters */
.search-filter > .list-group {
    margin-bottom: 0;
    overflow: auto;
    max-height: 200px;
}

.search-filter > .list-group > .list-group-item {
    padding: 5px;
}

.search-filter input[type="checkbox"] {
    margin: 0 5px;
    vertical-align: middle;
}

/* Align the Apply Filters button in the middle of the table cell */
.table thead > tr > td.search-apply {
    vertical-align: middle;
}